%H1 All Teams
=button_to "New Team", new_team_path, method: 'get'
%table
  %tr
    %td Team Name
    %td Last Updated
  - @teams.each do |team|
    %tr
      %td= team.name
      %td= team.updated_at
